/*-------------------------
  Pulss UI definitions */

.UI_Message,
.UI_Subject {
  border:1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family:Arial, sans-serif;
  color:#ccc;
  font-size:13px;
  line-height:28px;
  padding:3px 5px 3px 5px;
  margin:0;
  height: 28px;
  width:100%;
  cursor: text;
}

.UI_Message.UI_Addon_Attachments {
  background: #fff url('/img/icon-attachments.png') no-repeat center right;
}


.UI_Subject {
  color: #333;
  margin: 0 0 10px 0;
  line-height: 18px;
}

.UI_Textarea {
  border:1px solid #ccc;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family:Arial, sans-serif;
  font-size:13px;
  line-height:18px;
  padding:5px;
  margin:0;
  width:100%;
  min-height: 50px;
  padding-bottom: 30px;
}

.UI_Input_Container {
  padding:20px 20px 10px 20px;
}

.UI_Input {
  color:#333;
  font-family:Arial, sans-serif;
  font-size:12px;
  height:16px;
  line-height:16px;
  padding:0;
  width:100%;
  border:0;
  background:none;
}

.UI_Element_Attachments {
  color:#333;
  font-family:Arial, sans-serif;
  font-size:12px;
  line-height:16px;
  padding:0;
  width:100%;
  border:0;
  background:none;
  min-height:54px;
  margin:0;
}

